{% extends "i55wm.layout.html.twig" %}

{% block content %}
    {% if (upload_form == true) %}
        <p>
            <h1>Upload your i3 config file</h1>
            <form action="#" method="post" {{ form_enctype(form) }}>
                {{ form_widget(form) }}
                <input class="btn" type="submit" name="submit" />
            </form>
        </p>
    {% endif %}
{% endblock %}
