{% extends "i55wm.layout.html.twig" %}

{% block content %}
    <h1>Default configuration :</h1>

    <h2>Default workspaces</h2>
    <p>Default workspaces let you start a new configuration with all your default
      workspace pre-configured.
      <br />
      You can upload your config file ou use the settings to set its path to load
      your workspace from your i3/config file.
    </p>

    {% if defaultWorkspaces %}
        <p>These are the workspaces that were found in your i3 config file :</p>
        <ul>
            {% for workspace in defaultWorkspaces %}
                <li>{{ workspace.name }}</li>
            {% else %}
                No default workspaces was found.
            {% endfor %}
        </ul>
    {% else %}
        <p>No default workspaces found.</p>
    {% endif %}

    <p>
        <a href="{{ path('i55wm-load-config') }}">Reload your i3 configuration file</a><br />
    <p>

    <p>
        <a href="{{ path('i55WebManager') }}">homepage</a>
    </p>
{% endblock %}
