{% extends "i55wm.layout.html.twig" %}

{% block content %}
    <h1>« {{ config.name|e}} » - « {{ workspace.name|e}} » - « {{ client.name|e }} »</h1>

    <div>
        {% include 'i55wm.form.html.twig' %}
    </div>
    <ul>
    <p><a href="{{ path('i55wm-workspace',
          {'config': config.name, 'workspace_name': workspace.name}) }}">
        <button class="btn">Back to configuration page</button>
    </a></p>
{% endblock %}
